body {
  height: 100%;
  min-width: 100%;
  background-color: rgb(8, 8, 8);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: filter 300ms;
  margin: 0;
  position: relative;
}

html {
  position: absolute;
  margin: 0;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}
